@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Tilt+Warp&display=swap");

$fontStyle: "Tilt Warp", cursive;
$white: #fff;
$black: #000;
$offWhite: #e3e3e3;
$bg-button-inactive: #323232;
$btn-text-inactive: #a5a4a4;
$phone-width: 550.5px;
$small-phone-width: 330px;
$desktop-width: 1000.5px;

@mixin flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@mixin flex-colunm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin select-style {
  width: 75px;
  height: 37px;
  border: none;
  text-align: center;
  font-family: $fontStyle;
  font-size: 18px;
  position: relative;
  padding-right: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 18 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: right 1px top 50%, 0 0;
  background-size: 15px auto, 50%;

  @media (min-width: $phone-width) {
    display: none;
  }
}

$breakpoints: (
  "small": (
    max-width: 400px,
  ),
  "medium": (
    min-width: 400px,
  ),
  "large": (
    min-width: 1001px,
  ),
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
