

$wide-screen-width:600px;
$phone-screen-width:400px;
$type:$phone-screen-width;
$image-displacement:60%;

$screen-size-counter: 'unknown';

@mixin screen-size {
    @media screen and (max-width: 601px){
        img {
        width:200px;
        animation-name: move-image-center;
        animation-fill-mode:forwards;
        animation-duration:1s
        
        }
    }
    @media screen and (min-width: 602px) {
        img {
            width:200px;
            translate: $image-displacement 30%;
        }
        .topic-card {
            width:$wide-screen-width;
        }
    }
}
@keyframes move-image-center {
    from {
        transform:translate($image-displacement, 30%);
    }
    to {
        transform:scale(0.75) translate(0% ,30%);
        width:150px;
    }
}

.topic-card-parent {
    @include screen-size;
    margin:0px;
    margin-top:20px;
    display:flex;
    justify-content:center;
    & .topic-card {
        border:2px solid black;
        & .topic-card-description {
            padding-left:1em;
            padding-right:1em;
            text-align:justify;
        }
        & .topic-card-title {
            margin:0px;
            padding-left:75px;
            display:flex;
            border-bottom:2px solid grey;
            align-self:center;
            //justify-content: center;
            & h1 {
                margin-top: 10px;
                margin-bottom:10px;
                
            }
        }
        & img {
            border-radius:50%;
        }
        & button {
            border:none;
            padding:10px;
            font-size:15px;
            padding-left:50px;
            padding-right:50px;
        }
    }
}
