$wide-screen-width: 70.5%;
$phone-screen-width: 94%;
$image-displacement-screen: 40%, 30%;
$image-displacement-phone: 0%, 30%;
$image-shrinkage: 0.75;
@mixin img-btn-phone-display {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: space-evenly;
}

@mixin img-btn-screen-display {
  flex-direction: row;
  justify-content: space-evenly;
}

@mixin screen-size-change {
  @media screen and (max-width: 1000px) and (min-width: 700px) {
    .topic-card {
      width: $phone-screen-width;
    }
    .topic-card-img-btn {
      @include img-btn-screen-display;
      & .topic-card-img {
        width: 230px;
        height: 230px;
        transform: translateY(55px);
        transition: transform 300ms ease-in;
      }
    }
    & .topic-card-description {
      max-height: 350px;
      overflow: auto;
    }
    & .topic-card-description.expanding {
      max-height: 700px;
      transition: max-height 300ms ease-in;
    }
  }
  @media screen and (min-width: 1000px) {
    .topic-card {
      width: $wide-screen-width;
    }
    .topic-card-img-btn {
      @include img-btn-screen-display;
      & .topic-card-img {
        width: 250px;
        height: 250px;
        transition: transform 300ms ease-out;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .topic-card {
      width: 100%;
    }
    & .topic-card-img-btn {
      display: flex;
      @include img-btn-phone-display;

      & .topic-card-img {
        margin-left: 45px;
        width: 200px;
        height: 200px;
      }

      & button {
        margin-left: 30px;
        margin-bottom: 10px;
      }
    }
    & .topic-card-description {
      max-height: 250px;
      overflow: auto;
    }
    & .topic-card-description.expanding {
      max-height: 600px;
      transition: max-height 300ms ease-in;
    }
  }
}
