@import "./variables.scss";

.topic-card-parent {
  @include screen-size-change;
  margin: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  & .topic-card {
    border: none !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    & .topic-card-description {
      padding-left: 2em;
      padding-right: 2em;
      text-align: justify;
      border: none;
      overflow: auto;
    }
  }
  & .topic-card-title {
    margin: 0px;
    display: flex;
    padding-left: 2rem;
    align-self: space-between;
    & h1 {
      margin-top: 20px;
      margin-bottom: 20px;
      @apply text-4xl;
      @apply font-bold;
    }
  }
  & .topic-card-img-btn {
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 85px;
    display: flex;
    transform: translateY(75px);

    & button {
      border: none;
      font-size: 15px;
      padding-left: 50px;
      padding-right: 50px;
      width: 275px;
      height: 50px;
      font-weight: bold;
      background-color: #d1d1d1;
      &:hover {
        background-color: #dadada;
      }
    }
    & .topic-card-img {
      display: flex;
      border-radius: 50%;
      // background-color: rgb(49, 38, 38);
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-width: 240px;
      & img {
        height: 100%;
      }
    }
  }
}
