@import "./variables.scss";

.topic-card-parent {
  @include screen-size-change;
  margin: 0px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  & .topic-card {
    border: none !important;
    background-color: white;
    & .topic-card-description {
      padding-left: 2em;
      padding-right: 2em;
      text-align: justify;
      border: none;
    }
  }
  & .topic-card-title {
    margin: 0px;
    display: flex;
    padding-left: 2rem;
    align-self: center;
    & h1 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  & .topic-card-img-btn {
    display: flex;
    width: 100%;
    translate: 0px 30%;
    & button {
      border: none;
      padding: 10px;
      font-size: 15px;
      padding-left: 50px;
      padding-right: 50px;
      width: 275px;
      height: 50px;
      font-weight: bold;
      background-color: #d1d1d1;
      &:hover {
        background-color: #dadada;
        transition: all 200ms ease-in-out;
        transform: scale(1.05);
      }
    }
    & .topic-card-img {
      display: flex;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: rgb(49, 38, 38);
      justify-content: center;
      align-items: center;
      overflow: hidden;
      & img {
        height: 100%;
      }
    }
  }
}
