@import "./variables";

.selected {
  @include clickable($selected-color, $selected-background);
}

.unselected {
  @include clickable($unselected-color, $unselected-background);
}

.header {
  @include flexing("row");
  background-color: $base-color;
  justify-content: space-around;
}

.imgContainer {
  flex: 2;
}

.selector {
  @include flexing("row");
  align-items: center;
  justify-content: flex-end;
  .selectorButtons button {
    border: none;
    width: 45px;
    font-weight: bold;
  }
  #five {
    @include borderChange(0px, 2px, 0px, 2px);
  }
  #adult {
    @include borderChange(2px, 0px, 2px, 0px);
  }
}

.logo {
  width: auto;
  height: 30px;
  margin-top: 13px;
}

.textStyle {
  color: white;
  margin-right: 10px;
  text-align: right;
}

.selectorButtons {
  @include respond-to("small") {
    display: none;
  }
  @include respond-to("large") {
    display: block;
  }
}

.dropdown {
  @include respond-to("small") {
    display: block;
  }
  @include respond-to("large") {
    display: none;
  }
}
