@import "./variables";

.selected {
  background-color: $selected-background;
  cursor: pointer;
  color: $selected-color;
}

.unselected {
  cursor: pointer;
  background-color: $unselected-background;
  color: $unselected-color;
}

.header {
  @include flexing("row");
  background-color: $base-color;
  justify-content: space-around;
}

.imgContainer {
  flex: 2;
}

.selector {
  @include flexing("row");
  align-items: center;
  justify-content: flex-end;
  button {
    border: none;
    width: 45px;
    font-weight: bold;
  }
  #five {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  #adult {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  // .dropdown {
  //   display: none;
  // }
}

.logo {
  width: auto;
  height: 30px;
  margin-top: 13px;
}

.textStyle {
  color: white;
  margin-right: 10px;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .selector button {
    display: none;
  }
  .dropdown {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .dropdown {
    display: none;
  }
}
