@import "../variables";

#desktop {
  @include respond-to("small") {
    display: none;
    margin-top: 30px;
  }
  @include respond-to("medium") {
    display: block;
    margin-top: 30px;
  }
  @include respond-to("large") {
    display: block;
    margin-top: 30px;
    margin-left: 14.6%;
  }
}

#mobile {
  @include respond-to("small") {
    display: block;
  }
  @include respond-to("medium") {
    display: none;
  }
  @include respond-to("large") {
    display: none;
  }
}

.desktop {
  @apply ml-7 w-screen bg-backdrop;
}

.desktop-container {
  @apply w-screen bg-backdrop text-white capitalize p-0.5;
}

.mobile-parent-btn {
  @apply bg-backdrop2 pb-2 pt-2 text-left text-white capitalize w-screen;
}

.mobile-grandParent-btn {
  @apply bg-backdrop pb-2 pt-2 text-left text-white capitalize w-screen;
}
