@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Tilt+Warp&display=swap");
header {
  background-color: #000;
  height: 70px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  max-width: 1000px;
  margin: auto;
}

header .inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 1000.5px) {
  header .inner a {
    margin-left: 10px;
  }
}

@media (max-width: 550.5px) {
  header .inner a {
    height: 70%;
    margin-left: 2rem;
    margin-top: 10px;
  }
}

header .inner a img {
  display: block;
  overflow: visible;
  height: 60%;
}

header .inner a img:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header .inner .button-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000.5px) {
  header .inner .button-dropdown {
    margin-right: 10px;
  }
}

header .inner .button-dropdown .btn {
  border: none;
  margin-left: 1%;
  width: 75px;
  height: 30px;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  font-size: 19px;
  background-color: #323232;
  border: none;
  color: #a5a4a4;
  font-weight: bolder;
  font-family: "Tilt Warp", cursive;
}

header .inner .button-dropdown .btn.selected {
  background-color: #fff;
  color: #000;
}

@media (max-width: 475.5px) {
  header .inner .button-dropdown .btn {
    display: none;
  }
}

header .inner .button-dropdown .likeIm {
  color: #e3e3e3;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Tilt Warp", cursive;
  min-width: 70px;
  text-align: right;
}

@media (max-width: 330px) {
  header .inner .button-dropdown .likeIm {
    display: none;
  }
}

header .inner .button-dropdown .select-pg {
  width: 75px;
  height: 37px;
  border: none;
  text-align: center;
  font-family: "Tilt Warp", cursive;
  font-size: 18px;
  position: relative;
  margin-right: 10px;
  padding-right: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 18 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: right 1px top 50%, 0 0;
  background-size: 15px auto, 50%;
}

@media (min-width: 475.5px) {
  header .inner .button-dropdown .select-pg {
    display: none;
  }
}
/*# sourceMappingURL=Header.css.map */