.homepage-container {
  margin: auto;
  margin-top: 100px;
}

.groups-container {
  margin-top: 50px;

  .group-description {
    color: rgb(131, 131, 131);
    display: inline;
  }

  .group-title {
    color: white;
  }
}
