$white: #fff;
$black: #000;
$bg-button-inactive: #323232;
$btn-text-inactive: #6e6e6e;

@mixin flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@mixin select-style {
  width: 40px;
  height: 15px;
  border: none;
  text-align: center;
  font-weight: bolder;
  position: relative;
  padding-right: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 18 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: right 1px top 50%, 0 0;
  background-size: 15px auto, 50%;

  @media (min-width: 400px) {
    display: none;
  }
}

header {
  @include flex-row;
  background-color: $black;
  justify-content: space-between;

  img {
    width: 150px;
    margin: 10px;
    margin-left: 30px;
    @media (min-width: 1000px) {
      margin-left: 15%;
    }
    @media (max-width: 400px) {
      width: 100px;
    }
  }
  div {
    @include flex-row;
    margin-right: 30px;

    @media (min-width: 1000px) {
      margin-right: 15%;
    }
    .btn {
      width: 50px;
      height: 25px;
      margin: 1px;
      background-color: $bg-button-inactive;
      border: none;
      color: $btn-text-inactive;
      font-weight: bolder;
      &:active {
        background-color: $white;
        color: $black;
      }
      @media (max-width: 400px) {
        display: none;
      }
    }
    p {
      color: $white;
      margin-right: 10px;
      font-size: smaller;
    }
    .select-pg {
      @include select-style;
    }
    .select-adult {
      @include select-style;
      font-size: 10px;
    }
  }
}
