name: Lint

on: [push]

defaults:
  run:
    working-directory: ./web
jobs:
  # run-linters:
  #   name: Run Linter
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out Git repository
  #       uses: actions/checkout@v3

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 16

  #     - name: install node packages
  #       run: npm ci

  #     - name: Run linter
  #       run: npm run lint

  # run-tests:
  #   name: Run Tests
  #   runs-on: ubuntu-latest
  #   needs: run-linters
  #   steps:
  #     - name: Check out Git repository
  #       uses: actions/checkout@v3

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 16
  #     - name: install node packages
  #       run: npm ci
  #     - name: Run Test
  #       run: npm test
  #       env:
  #         REACT_APP_MEASUREMENT_ID: "measurement-ID"

  run-cypress-tests:
    name: run Cypress tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitCode
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Clear Cypress cache
        run: npx cypress cache clear
      - name: install node packages
        run: npm ci

      - name: Run Cypress Test
        uses: cypress-io/github-action@v4
        with:
          command: npx cypress run --component
